.flight-header{
  display: flex;
  padding: 20px;
  font-size: 1.5rem;
  background-color: #3f51b5;
  color: white;
  font-weight: 500;
}
.flight-icon{
  font-size: 2rem !important;
  color: white;
  padding-right: 7px;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.input-field{
  margin: 15px !important;
}
.submit-button{
  display: flex;
  justify-content: center;
}
.form-container{
  flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.footer{
  position: fixed;
  bottom: 0;
  background-color: gray;
    display: flex;
    width: 100vw;
    justify-content: center;
    color: white;
    padding: 10px 0;
    font-weight: bold;
}

@media only screen and (min-width: 376px) {
.form-container{
  flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fields-container{
  display: flex;
  justify-content: space-around;
}
}
